@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400, 600, 700;
  font-size: 14px;
}
img {
  display: block;
  max-width: 50%;
  height: auto;
}
.container {
  display: grid;
  height: 100vh;
  flex-flow: column nowrap;
  place-content: center;
  background-color: hsl(0, 0%, 8%);
  padding: 0 2rem;
}
.content {
  background-color: hsl(0, 0%, 20%);
  border-radius: 5%;
  width: min(100%, 300px);
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid hsl(75, 94%, 57%);
  box-shadow: 0 9px 9px #fff;
  text-align: center;
}

.card-image-infos h1,
h4,
p {
  margin-bottom: 0.5rem;
}
.card-image-infos img {
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 5px solid rebeccapurple;
}
.card-image-infos h1 {
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
}
.card-image-infos h4 {
  font-size: 0.7rem;
  color: hsl(75, 94%, 57%);
}
.card-image-infos p {
  font-size: 0.7rem;
  color: hsl(0, 0%, 100%);
}
.social-infos h2 {
  margin-bottom: 1rem;
  background-color: hsl(0, 0%, 12%);
  padding: 0.5rem 0;
  border-radius: 10px;
}
.social-infos h2:hover {
  background-color: hsl(75, 94%, 57%);
}
a:any-link {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  position: relative;
}
a:hover,
a:focus-visible {
  color: hsl(0, 0%, 12%);
}
a:active {
  color: #000;
}
.card-image-infos p {
  position: relative;
}
.card-image-infos p::before {
  content: open-quote;
  font-size: 3em;
  position: absolute;
  top: -0.25em;
  left: 0.5em;
}
.card-image-infos p::after {
  content: close-quote;
  font-size: 3em;
  position: absolute;
  top: -0.25em;
  right: 0.5em;
}
@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    padding: 0 2rem;
    height: 100vh;
    font-size: 1.3rem;
  }
  .card-image-infos img {
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 5px solid gold;
  }
}
